* {
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 240, 240);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto;
    width: 25%;
    background-color: white;

}
input{
    display: block;
}