header{
    background-color: azure;
}

body {
    line-height: 2rem;
    font-size: 1.1rem;
}

.welcome{
    background-color: rgb(240, 252, 255);
    padding: 1rem;
}

h1{
    margin: 3rem auto;
}
p{
    margin: 3rem auto;
}

.footer{
    background-color: black;
    margin: 3rem;
    width: 100%;
    height: 300px;
}

.ico {
    width: 9%;
}

.ico-facebook {
    color: blue;
}

.ico-x {
    color: rgb(0, 174, 255) ;
}
.ico-insta {
    color: rgb(255, 51, 0) ;
}
